/*
    Advanced-forms:
    This css needs to be included in every advanced forms through squiz advanced forms portal. 
*/
form.panel label {
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  cursor: default !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  height: 24px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 24px !important;
  pointer-events: auto !important;
  text-size-adjust: 100% !important;
  vertical-align: middle !important;
  /* width: 884.172px !important; */
  -webkit-font-smoothing: antialiased !important;
}

form.panel span.text-danger {
  border-bottom-color: rgb(226, 35, 57) !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(226, 35, 57) !important;
  border-left-style: none !important;
  border-left-width: 0px !important;
  border-right-color: rgb(226, 35, 57) !important;
  border-right-style: none !important;
  border-right-width: 0px !important;
  border-top-color: rgb(226, 35, 57) !important;
  border-top-style: none !important;
  border-top-width: 0px !important;
  box-sizing: border-box !important;
  color: rgb(226, 35, 57) !important;
  cursor: help !important;
  display: block !important;
  float: left !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  height: 24px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 24px !important;
  margin-right: 4px !important;
  pointer-events: auto !important;
  text-decoration-color: rgb(226, 35, 57) !important;
  text-decoration-line: none !important;
  text-decoration-style: solid !important;
  text-decoration-thickness: auto !important;
  text-size-adjust: 100% !important;
  /* width: 8.96875px !important; */
  -webkit-font-smoothing: antialiased !important;
}

form.panel .textfield, form.panel .fileupload {
  appearance: none !important;
  background-color: rgb(255, 255, 255) !important;
  border-bottom-color: rgb(122, 122, 122) !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(122, 122, 122) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgb(122, 122, 122) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgb(122, 122, 122) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  cursor: text !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: 52px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 8px !important;
  padding-block-end: 12px !important;
  padding-block-start: 12px !important;
  padding-bottom: 12px !important;
  padding-inline-end: 16px !important;
  padding-inline-start: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 12px !important;
  pointer-events: auto !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-border-image: none !important;
}

form.panel .textfield:hover {
  background-color: rgb(245, 245, 245) !important;
  border-bottom-color: rgb(0, 62, 125) !important;
  border-left-color: rgb(0, 62, 125) !important;
  border-right-color: rgb(0, 62, 125) !important;
  border-top-color: rgb(0, 62, 125) !important;
}

form.panel .textfield:focus {
  background-color: rgb(255, 255, 255) !important;
  border-bottom-color: rgb(235, 235, 235) !important;
  border-left-color: rgb(235, 235, 235) !important;
  border-right-color: rgb(235, 235, 235) !important;
  border-top-color: rgb(235, 235, 235) !important;
  outline-color: rgb(0, 133, 179) !important;
  outline-offset: 2px !important;
  outline-style: solid !important;
  outline-width: 3px !important;
}

form.panel textarea {
  appearance: none !important;
  background-color: rgb(255, 255, 255) !important;
  border-bottom-color: rgb(122, 122, 122) !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(122, 122, 122) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgb(122, 122, 122) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgb(122, 122, 122) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  column-count: auto !important;
  cursor: text !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: 335px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 8px !important;
  max-width: 100% !important;
  overflow-wrap: break-word !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 12px !important;
  pointer-events: auto !important;
  resize: both !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  text-wrap: wrap !important;
  white-space-collapse: preserve !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-border-image: none !important;
}

form.panel textarea:hover {
  background-color: rgb(245, 245, 245) !important;
  border-bottom-color: rgb(0, 62, 125) !important;
  border-left-color: rgb(0, 62, 125) !important;
  border-right-color: rgb(0, 62, 125) !important;
  border-top-color: rgb(0, 62, 125) !important;
}

form.panel textarea:focus {
  border-color: rgb(235, 235, 235) !important;
  outline-color: rgb(0, 133, 179) !important;
  outline-offset: 2px !important;
  outline-style: solid !important;
  outline-width: 3px !important;
}

form.panel .overauto {
}

form.panel .dropdown {
  align-items: center !important;
  appearance: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M4.251 181.1C7.392 177.7 11.69 175.1 16 175.1c3.891 0 7.781 1.406 10.86 4.25l197.1 181.1l197.1-181.1c6.5-6 16.64-5.625 22.61 .9062c6 6.5 5.594 16.59-.8906 22.59l-208 192c-6.156 5.688-15.56 5.688-21.72 0l-208-192C-1.343 197.7-1.749 187.6 4.251 181.1z'/%3E%3C/svg%3E") !important;
  background-position-x: calc(100% - 11px) !important;
  background-position-y: 50% !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  border-bottom-color: rgb(122, 122, 122) !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(122, 122, 122) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgb(122, 122, 122) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgb(122, 122, 122) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  box-sizing: border-box !important;
  color: rgb(99, 99, 99) !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: 52px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 8px !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  padding-right: 32px !important;
  padding-top: 12px !important;
  pointer-events: auto !important;
  position: relative !important;
  text-align: start !important;
  text-indent: 0.01px !important;
  text-overflow: clip !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  text-wrap: nowrap !important;
  vertical-align: middle !important;
  white-space-collapse: preserve !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-border-image: none !important;
}

form.panel .dropdown:hover {
  background-color: rgb(245, 245, 245) !important;
  border-bottom-color: rgb(0, 62, 125) !important;
  border-left-color: rgb(0, 62, 125) !important;
  border-right-color: rgb(0, 62, 125) !important;
  border-top-color: rgb(0, 62, 125) !important;
}

form.panel .dropdown:focus {
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgb(235, 235, 235) !important;
  border-left-color: rgb(235, 235, 235) !important;
  border-right-color: rgb(235, 235, 235) !important;
  border-top-color: rgb(235, 235, 235) !important;
  outline-color: rgb(0, 133, 179) !important;
  outline-offset: 2px !important;
  outline-style: solid !important;
  outline-width: 2px !important;
}

form.panel .dropdown option {
  box-sizing: content-box !important;
  color: rgb(99, 99, 99) !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: auto !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
  min-height: 19.2px !important;
  padding-bottom: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 0px !important;
  text-align: start !important;
  text-indent: 0.01px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  text-wrap: nowrap !important;
  white-space-collapse: collapse !important;
  width: auto !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
}

form.panel /* .radio-group {
        box-sizing: border-box !important;
        color: rgb(65, 65, 65) !important;
        display: block !important;
        font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
        font-size: 16px !important;
        height: 128px !important;
        image-rendering: -webkit-optimize-contrast !important;
        letter-spacing: 0.15px !important;
        line-height: 24px !important;
        margin-top: 24px !important;
        pointer-events: auto !important;
        text-size-adjust: 100% !important;
        unicode-bidi: isolate !important;
        width: 884.172px !important;
        -webkit-font-smoothing: antialiased !important;
    } */

form.panel .radio {
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 16px !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 24px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  pointer-events: auto !important;
  text-size-adjust: 100% !important;
  unicode-bidi: isolate !important;
  width: 884.172px !important;
  -webkit-font-smoothing: antialiased !important;
}

form.panel .radio label {
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 32px !important;
  margin-bottom: 0px !important;
  padding-left: 40px !important;
  pointer-events: auto !important;
  position: relative !important;
  text-size-adjust: 100% !important;
  vertical-align: middle !important;
  /* width: 884.172px !important; */
  -webkit-font-smoothing: antialiased !important;
}

form.panel .radio label::before {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  border-bottom-color: rgb(122, 122, 122) !important;
  border-bottom-left-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(122, 122, 122) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgb(122, 122, 122) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgb(122, 122, 122) !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  content: " " !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  left: 0px !important;
  letter-spacing: 0.15px !important;
  line-height: 32px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-size-adjust: 100% !important;
  top: 0px !important;
  visibility: visible !important;
  width: 32px !important;
  z-index: 100 !important;
  -webkit-font-smoothing: antialiased !important;
}

form.panel .radio label::after {
  background-repeat: no-repeat !important;
  border-bottom-color: rgba(0, 0, 0, 0) !important;
  border-bottom-left-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgba(0, 0, 0, 0) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgba(0, 0, 0, 0) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgba(0, 0, 0, 0) !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  content: " " !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  left: 0px !important;
  letter-spacing: 0.15px !important;
  line-height: 32px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-size-adjust: 100% !important;
  top: 0px !important;
  visibility: visible !important;
  width: 32px !important;
  z-index: 101 !important;
  -webkit-font-smoothing: antialiased !important;
}

form.panel .radio input {
  appearance: auto !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgb(0, 0, 0) !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(0, 0, 0) !important;
  border-left-style: none !important;
  border-left-width: 0px !important;
  border-right-color: rgb(0, 0, 0) !important;
  border-right-style: none !important;
  border-right-width: 0px !important;
  border-top-color: rgb(0, 0, 0) !important;
  border-top-style: none !important;
  border-top-width: 0px !important;
  box-sizing: border-box !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  color: rgb(0, 0, 0) !important;
  cursor: default !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: 1px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 32px !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-block-end: 0px !important;
  padding-block-start: 0px !important;
  padding-bottom: 0px !important;
  padding-inline-end: 0px !important;
  padding-inline-start: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  width: 1px !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-border-image: none !important;
}

form.panel .radio input:hover + .radio label:before {
		background-color: red;
}

form.panel .radio input:focus {
  appearance: auto !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgb(0, 0, 0) !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(0, 0, 0) !important;
  border-left-style: none !important;
  border-left-width: 0px !important;
  border-right-color: rgb(0, 0, 0) !important;
  border-right-style: none !important;
  border-right-width: 0px !important;
  border-top-color: rgb(0, 0, 0) !important;
  border-top-style: none !important;
  border-top-width: 0px !important;
  box-sizing: border-box !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  color: rgb(0, 0, 0) !important;
  cursor: default !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: 1px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 32px !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-block-end: 0px !important;
  padding-block-start: 0px !important;
  padding-bottom: 0px !important;
  padding-inline-end: 0px !important;
  padding-inline-start: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  width: 1px !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-border-image: none !important;
}

form.panel .checkbox {
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 24px !important;
  margin-top: 16px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  pointer-events: auto !important;
  text-size-adjust: 100% !important;
  unicode-bidi: isolate !important;
  width: 311px !important;
  -webkit-font-smoothing: antialiased !important;
}

form.panel .checkbox input {
  appearance: auto !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgb(0, 0, 0) !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(0, 0, 0) !important;
  border-left-style: none !important;
  border-left-width: 0px !important;
  border-right-color: rgb(0, 0, 0) !important;
  border-right-style: none !important;
  border-right-width: 0px !important;
  border-top-color: rgb(0, 0, 0) !important;
  border-top-style: none !important;
  border-top-width: 0px !important;
  box-sizing: border-box !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  color: rgb(0, 0, 0) !important;
  cursor: default !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 16px !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-alternates: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  height: 1px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-block-end: 0px !important;
  padding-block-start: 0px !important;
  padding-bottom: 0px !important;
  padding-inline-end: 0px !important;
  padding-inline-start: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  width: 1px !important;
  word-spacing: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-border-image: none !important;
}

form.panel .checkbox label {
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 32px !important;
  margin-bottom: 0px !important;
  padding-left: 40px !important;
  pointer-events: auto !important;
  position: relative !important;
  text-size-adjust: 100% !important;
  vertical-align: bottom !important;
  width: 896px !important;
  -webkit-font-smoothing: antialiased !important;
}

form.panel .checkbox label:before {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  border-bottom-color: rgb(122, 122, 122) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(122, 122, 122) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgb(122, 122, 122) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgb(122, 122, 122) !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  content: " " !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  left: 0px !important;
  letter-spacing: 0.15px !important;
  line-height: 32px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-size-adjust: 100% !important;
  top: 0px !important;
  visibility: visible !important;
  width: 32px !important;
  z-index: 100 !important;
  -webkit-font-smoothing: antialiased !important;
}


form.panel .checkbox label:after {
  background-repeat: no-repeat !important;
  border-bottom-color: rgba(0, 0, 0, 0) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgba(0, 0, 0, 0) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
  border-right-color: rgba(0, 0, 0, 0) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-top-color: rgba(0, 0, 0, 0) !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
  box-sizing: border-box !important;
  color: rgb(65, 65, 65) !important;
  content: " " !important;
  cursor: pointer !important;
  display: block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  height: 32px !important;
  image-rendering: -webkit-optimize-contrast !important;
  left: 0px !important;
  letter-spacing: 0.15px !important;
  line-height: 32px !important;
  pointer-events: auto !important;
  position: absolute !important;
  text-size-adjust: 100% !important;
  top: 0px !important;
  visibility: visible !important;
  width: 32px !important;
  z-index: 101 !important;
  -webkit-font-smoothing: antialiased !important;
  border-radius: 0% !important;
}


form.panel .checkbox label {
}

form.panel .checkbox input {
}

form.panel /* .btn:active,.btn:focus,.btn:hover {
    outline-color: rgb(0, 133, 179) !important;
} */

button,
form.panel button.btn,
div.btn {
  background-color: rgb(9, 84, 159) !important;
  border-bottom-color: rgb(9, 84, 159) !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3px !important;
  border-image-outset: 0 !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(9, 84, 159) !important;
  border-left-style: solid !important;
  border-left-width: 3px !important;
  border-right-color: rgb(9, 84, 159) !important;
  border-right-style: solid !important;
  border-right-width: 3px !important;
  border-top-color: rgb(9, 84, 159) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-top-style: solid !important;
  border-top-width: 3px !important;
  box-sizing: border-box !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 16px !important;
  height: 50px !important;
  image-rendering: -webkit-optimize-contrast !important;
  letter-spacing: 0.15px !important;
  line-height: 24px !important;
  list-style-type: none !important;
  max-width: 732.16px !important;
  min-width: 140px !important;
  padding-bottom: 10px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 10px !important;
  pointer-events: auto !important;
  text-align: center !important;
  text-decoration-color: rgb(63, 122, 180) !important;
  text-decoration-line: none !important;
  text-decoration-skip-ink: auto !important;
  text-decoration-style: solid !important;
  text-decoration-thickness: 0.5px !important;
  text-size-adjust: 100% !important;
  text-underline-offset: 4.8px !important;
  -webkit-font-smoothing: antialiased !important;
}

form.panel div.btn {
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
}

form.panel input.upload-display {
  margin-top: 0 !important;
}

form.panel button:hover, button.btn:hover {
  background-color: rgb(0, 62, 125) !important;
  border-bottom-color: rgb(0, 62, 125) !important;
  border-left-color: rgb(0, 62, 125) !important;
  border-right-color: rgb(0, 62, 125) !important;
  border-top-color: rgb(0, 62, 125) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 1px !important;
  text-decoration-line: underline !important;
  text-decoration-color: rgb(255, 255, 255) !important;
  text-decoration-thickness: 2px !important;
}

form.panel button:focus, button.btn:focus {
  background-color: rgb(9, 84, 159) !important;
  border-bottom-color: rgb(9, 84, 159) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3px !important;
  border-left-color: rgb(9, 84, 159) !important;
  border-left-style: solid !important;
  border-left-width: 3px !important;
  border-right-color: rgb(9, 84, 159) !important;
  border-right-style: solid !important;
  border-right-width: 3px !important;
  border-top-color: rgb(9, 84, 159) !important;
  border-top-style: solid !important;
  border-top-width: 3px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 1px !important;
  outline-color: rgb(0, 133, 179) !important;
  outline-offset: 2px !important;
  outline-style: solid !important;
  outline-width: 3px !important;
  text-decoration-line: underline !important;
  text-decoration-color: rgb(255, 255, 255) !important;
  text-decoration-thickness: 2px !important;
}

form.panel button:active, button.btn:active {
  background-color: rgb(245, 245, 245) !important;
  border-bottom-color: rgb(245, 245, 245) !important;
  border-left-color: rgb(245, 245, 245) !important;
  border-right-color: rgb(245, 245, 245) !important;
  border-top-color: rgb(245, 245, 245) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 1px !important;
  color: rgb(3, 33, 63) !important;
  text-decoration-line: none !important;
  text-decoration-color: rgb(3, 33, 63) !important;
  text-decoration-thickness: auto !important;
}

/* experimental */
/* rgb(122, 122, 122) disable */


 form.panel .checkbox input:hover + label:before {
      background-color: rgb(224, 224, 224) !important;
  }

 form.panel .checkbox input:checked + label:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='var(--QLD-color-light-text)' d='M25.6,11.4c0.2-0.2,0.2-0.5,0-0.7l-2.3-2.3c-0.2-0.2-0.5-0.2-0.7,0L14,17l-3.6-3.6c-0.2-0.2-0.5-0.2-0.7,0l-2.3,2.3 c-0.2,0.2-0.2,0.5,0,0.7l6.3,6.3c0.2,0.2,0.5,0.2,0.7,0L25.6,11.4L25.6,11.4z'/%3E%3C/svg%3E") !important;
      background-size: 29.6px !important;
      background-position: -2px -2px !important;
      background-color: white !important;
      border-color: rgb(122, 122, 122) !important;
      
  }

 form.panel .checkbox input:focus + label:before {
      outline-color: rgb(0, 133, 179) !important;
      outline-offset: 2px !important;
      outline-style: solid !important;
      outline-width: 3px !important;      
  }

 form.panel .checkbox input:disabled + label:before {
      opacity: 0.3 !important;
      background-color: rgba(0, 0, 0, 0.2) !important;
  }

 form.panel .checkbox input:disabled + label {
      color: red !important;
      cursor: not-allowed !important;
  }

 form.panel .checkbox input:disabled:checked + label:after {
      opacity: 0.5 !important;
      background: red !important;
  }

  

/* radio button */

  form.panel .radio input {
      position: absolute !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden !important;
  }
  
  form.panel .radio input + label {
      font-weight: 400 !important;
      cursor: pointer !important;
      position: relative !important;
      line-height: 2em !important;
      padding-left: 2.5em !important;
  }
  
  form.panel .radio input + label:before {
      width: 32px !important;
      height: 32px !important;
      visibility: visible !important;
      content: ' ' !important;
      display: block !important;
      position: absolute !important;
      box-sizing: border-box !important;
      background-repeat: no-repeat !important;
      z-index: 100 !important;
      left: 0 !important;
      border: 1px solid transparent !important;
      border-radius: 50% !important;
      top: 0 !important;
  }
  
  form.panel .radio input + label:before {
      background-color: transparent !important;
      border-color: rgb(122, 122, 122) !important;
      background-image: none !important;
  }
  
  form.panel .radio input + label:after {
      z-index: 101 !important;
  }
  
  form.panel .radio input:hover + label:before {
      background-color: rgb(224, 224, 224) !important;
  }
  
  form.panel .radio input:checked + label:after {
      /* Include QLD-getControlShape function result */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='var(--QLD-color-light-text)' cx='16' cy='16' r='12'/%3E%3C/svg%3E") !important;
      background-repeat: no-repeat !important;
      background-color: white !important;
      border-color: rgb(122, 122, 122) !important;
  }
  
  form.panel .radio input:focus + label:before {
      box-shadow: none !important;
      outline-color: rgb(0, 133, 179) !important;
      outline-offset: 2px !important;
      outline-style: solid !important;
      outline-width: 3px !important;   
  }
  
  form.panel .radio input:disabled + label:before {
      opacity: 0.3 !important;
      background-color: rgba(0, 0, 0, 0.2) !important;
  }
  
  form.panel .radio input:disabled + label {
      /* color: var(--QLD-color-light-text__muted) !important; */
      cursor: not-allowed !important;
  }
  
  form.panel .radio input:disabled:checked + label:after {
      opacity: 0.5 !important; /* Include QLD-getControlShape function result */
  }
  
  form.panel .radio input.qld__input--valid + label:before {
      box-shadow: 0 0 0 0.188em red !important;
  }
  
  form.panel .radio input.qld__input--error + label:before {
      box-shadow: 0 0 0 0.188em red !important;
  }

  form.panel *:not(.form-group):not(.row *) + * {
    margin-top: 16px !important;
  }

  form.panel label.hiddenlabel {
    display: none !important;
  }

  form.panel textarea.g-recaptcha-response {
    display: none !important;
  }